body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.app {
  background: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  padding: 20px;
  width: 90%;
  max-width: 400px;
}

h1 {
  font-size: 1.8rem;
  color: #ffffff;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #0077cc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #005fa3;
  transform: scale(1.05);
}

button:active {
  transform: scale(1);
}

.login-button {
  margin-bottom: 20px;
}

.logout-button {
  margin-bottom: 20px;
}

.trade-section,
.trade-history {
  margin-top: 20px;
}

select,
input {
  margin: 10px 0;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #333333;
  background-color: #262626;
  color: #e0e0e0;
}

select:focus,
input:focus {
  outline: none;
  border-color: #0077cc;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #bbbbbb;
}

p {
  font-size: 1rem;
  color: #bbbbbb;
}

.trade-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.trade-input input[type="text"] {
  flex: 1;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #333;
  background: #2e2e2e;
  color: #fff;
  border-right: none; /* Remove the border on the right side */
  font-size: 16px;
  box-sizing: border-box;
}

.trade-input button {
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border: 1px solid #333;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 16px;
  box-sizing: border-box;
}

.trade-input button:hover {
  background: #0056b3;
}

.trade-input button:disabled {
  background: #444;
  cursor: not-allowed;
}
